/*------------------------------------*\
    $MASTER
\*------------------------------------*/

$brand-color = #1D2327
$base-ui-color = #F6F8FB
$link-color = #4A85D3
$base-font-family = "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;

*, *:before, *:after
  box-sizing border-box

.cf
  &:after
    visibility hidden
    display block
    font-size 0
    content " "
    clear both
    height 0

body
  background-color $brand-color
  font-family $base-font-family
  color $base-ui-color
  margin 0
  padding 0

.header
  @extend .cf
  position relative
  height 80px

.logo
  position absolute
  display block
  text-indent -9999px
  font-size 10px
  width 4.5em
  height 5em
  margin 0
  top 50%
  left 10px
  transform translateY(-50%)
  
  a
    width 100%
    height 100%
    display block
    background transparent url('/public/images/logo.svg') center center no-repeat
    background-size 100% 100%


.show-all
  color $brand-color
  text-decoration none
  position absolute
  top 50%
  right 10px
  transform translateY(-50%)
  display block
  font-weight bold
  text-transform uppercase
  font-size 12px
  letter-spacing 1px
  background-color $base-ui-color
  line-height 2.4
  padding 0 1.5em
  border-radius 4em
  transition background-color .2s ease
  
  &:hover
    background-color $link-color
    color $base-ui-color



/**
 * The gif
 */
.the-gif
  @extend .cf
  position absolute
  display block
  width 500px
  top 50%
  left 50%
  transform translate(-50%, -50%)
   
  img
    display block
    width 100%
    height auto

  @media (max-width: 500px)
    width 100%


.shuffle
  position absolute
  bottom -6em
  left 50%
  transform translateX(-50%)
  text-indent -9999px
  background transparent url('/public/images/reload.svg') center center no-repeat
  background-size 100% 100%
  font-size 10px
  width 3em
  height 3em
