doctype html
html
  head
    script(type='text/javascript', src='http://www.google.com/jsapi')
    script(type='text/javascript').
      google.load("jquery", "1");
    script(src='//use.typekit.net/oni3vzi.js')
    script.
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet", href="/public/dist/master.min.css")

    title Crip Gifs - #{gif}
    style.
      body {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: #1D2327 no-repeat fixed center;
        background-size: contain;
        background-image: url('/#{gif}');
      }

    meta(charset="UTF-8")
