doctype html
html
  head
    title Crip Gifs - #{gif}
    style.
      body {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: black no-repeat fixed center;
        background-size: contain;
        cursor: pointer;
        background-image: url('/#{gif}');
      }
