extends ./layout.jade

block content
  div(class="header" role="banner")
  script.
    function reload () {
      window.location = window.location
    }

    var body = document.querySelector('body');

    if (window.addEventListener) {
      body.addEventListener('click', reload);
      body.addEventListener('touchend', reload);
    } else if (window.attachEvent) {
      body.attachEvent('onclick', reload);
    } else {
      body.onclick = reload;
    }
