doctype html
html
  head
    link(rel="stylesheet", href="/public/style/style.css")
    block title
      title Crip Gifs - #{title}
    meta(charset="UTF-8")
  body(class="#{gif}")
    block content
